@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;

}
.container{
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock{
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter:blur(40px);
}
.container::before{
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  background: #f41b75;
  border-radius: 5px;
  top: -50px;
  left: -50px;
  z-index: -1;
}
.container::after{
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  background: #419aff;
  border-radius: 50%;
  bottom: -50px;
  right: -30px;
  z-index: -1;
}
.clock span{
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after{
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}
#hrs::after{
  content: "HOURS";
}
#mins::after{
  content: "MINS";
}
#secs::after{
  content: "SECS";
}